---
---
@import "{{pages-themes/cayman@v0.2.0}};

/* Hides the repository name and the GitHub button section at the top */
header h1, header ul {
  display: none !important;
}

/* Adjusts the padding so the page doesn't look empty at the top */
header {
  padding-top: 20px !important;
}
